mat-toolbar {
  background-color: cadetblue;
}
.title {
  color: white;
  font-size: x-large;
}

.menu-button {
  background-color: transparent;
}
.spacer {
  flex: 1 1 auto;
}

.menu:hover {
  cursor: pointer;
}

.menu {
  color: white;
}
