<mat-toolbar>
  <span class="title">Krashboard</span>
  <span class="spacer"></span>
  <mat-icon
    class="menu"
    (click)="menuService.hamburgerMenu = !menuService.hamburgerMenu"
    >menu
  </mat-icon>

  <mat-drawer-container
    class="example-container"
    autosize
    *ngIf="menuService.hamburgerMenu"
  >
    <mat-drawer #drawer class="example-sidenav" mode="side"> </mat-drawer>

    <div class="sideNavContainer">
      <button type="button" mat-button>Add New Widget</button>
    </div>
  </mat-drawer-container>
</mat-toolbar>

<ol>
  <li>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="widgetTitle"
        placeholder="Enter Title of Widget?"
      />
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{ animal }}</i>
  </li>
</ol>
