<mat-toolbar color="primary">
  <span class="title">Krashboard</span>
  <span class="spacer"></span>
  <mat-icon class="menu">menu</mat-icon>

  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <button (click)="hamburgerMenu = !hamburgerMenu" mat-raised-button>

        Toggle extra text
      </button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>

  </mat-drawer-container> -->
</mat-toolbar>
