mat-toolbar {
  font-size: 75px;
  margin: 10px;
}
.title {
  color: white;
  font-size: 75px;
}

.menu-button {
  background-color: transparent;
}
.spacer {
  flex: 1 1 auto;
}

.menu:hover {
  cursor: pointer;
}

.menu {
  color: white;
  font-size: xx-large;
}
