<mat-toolbar>
  <span class="title">Krashboard</span>
  <span class="spacer"></span>
  <mat-icon
    class="menu"
    *ngIf="!menuService.hamburgerMenu"
    (click)="menuService.hamburgerMenu = !menuService.hamburgerMenu"
    >menu
  </mat-icon>

  <mat-drawer-container
    *ngIf="menuService.hamburgerMenu"
    class="example-container"
    autosize
  >
    <mat-drawer #drawer> </mat-drawer>

    <div class="sideNavContainer">
      <button
        type="button"
        mat-button
        (click)="menuService.openDialog(); menuService.hamburgerMenu = false"
      >
        Add New Widget
      </button>
    </div>
  </mat-drawer-container>
</mat-toolbar>
