mat-toolbar {
  height: 75px;
  font-size: 75px;
  padding-top: 15px;
  padding-bottom: 12px;
}
.title {
  color: white;
  font-size: 75px;
  padding: 12px;
}

.menu-button {
  background-color: transparent;
}
.spacer {
  flex: 1 1 auto;
}

.menu:hover {
  cursor: pointer;
}

.menu {
  color: white;
  font-size: xx-large;
}
.sideNavContainer{
  display: flex;
  flex-direction: row;
}


