.remove {
  display: flex;
  align-items: flex-end;
  padding: 8px;
  margin-left: 16px;
}

mat-card {
  background-color: cadetblue;
  max-width: 500px;
  min-width: 500px;
  max-height: 350px;
  min-height: 350px;
  margin: 16px;
  padding: 0px;
}
