<mat-card>
  <button (click)="menuService.openDialog()" class="add-button">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</mat-card>

<app-widget-card
  *ngFor="let card of cards; let i = index"
  [card]="card"
  [i]="i"
>
</app-widget-card>

<!-- <form [formGroup]="widgetService.widgetForm" (ngSubmit)="widgetService.onSubmit()">
  <div class="container">

    <div class="row">
      <div class="form-group">
        <label for="title"> Widget Name  </label>
        <input type="text" formControlName="widget">
        <label for="content"> Api content </label>
        <input type="text" formControlName="api-content">
      </div>
    </div>
    <button type="submit" id="commentSubmit" (click)="widgetService.onSubmit(); ">Submit</button>
    <div class="container">
      <mat-card class="widgetCard" *ngFor="let item of widgetService.widgets">
        {{ item.title }} - {{ item.content }}
      </mat-card>
    </div>
  </div>

</form> -->
<!-- <div class="container">
  <mat-card class="widgetCard" *ngFor="let item of widgetService.widgets">
    {{ item.title }} - {{ item.content }}
  </mat-card>
</div> -->
