.card-holder {
  max-width: 500px;
  max-height: 500px;
  float: left;
}

mat-card {
  background-color: cadetblue;
  max-width: 500px;
  min-width: 500px;
  max-height: 350px;
  min-height: 350px;
  margin: 16px;
  justify-content: center;
  display: flex;
}

mat-icon:hover {
  cursor: pointer;
}

mat-icon {
  font-size: 170px;
  height: 170px;
}

.add-button {
  background-color: transparent;
  border-color: transparent;
}
