.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
}

mat-card {
  background-color: cadetblue;
  max-width: 500px;
  min-width: 500px;
  max-height: 350px;
  min-height: 350px;
  margin: 16px;
  padding: 0px;
  justify-content: center;
  display: flex;
}

.add-button {
  color: white;
}
.add-button:hover {
  cursor: pointer;
}

mat-icon {
  height: 150px;
  width: 150px;
  font-size: 150px;
}

.add-card {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
