<form>
  <div class="modalContainer">
    <label>Title of Widget</label>
    <input
      matInput
      [(ngModel)]="menuService.widgetTitle"
      name="title"
      required
    />

    <div mat-dialog-actions>
      <button
        mat-raised-button
        [mat-dialog-close]="menuService.widgetTitle"
        [disabled]="!menuService.disableCreateButton()"
        (click)="createCard(); widgetService.pushToStorage()"
      >
        Create</button
      ><button
        mat-raised-button
        [mat-dialog-close]
        (click)="menuService.widgetTitle = ''"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
